# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/
.env

# IDE
.idea/
.DS_Store

# Flask
instance/
.cache

# Distribution / packaging
*.egg-info/
dist/
build/

# Data directories
data/**

# CZPTT2GTFS outputs
czptt2gtfs/out/
czptt2gtfs/JR2025/

# Testing
.pytest_cache/
